# compiled files and executables
**/target/**
wallets/*

# vscode config
.vscode

# elrond
**/node_modules
**/output/**
**/testnet/**
**/*.interaction.json

# python
**/__pycache__/**

# others
*.pem
.DS_Store
